@import "../node_modules/sass-true/sass/true";
@import "../rem";

$rem-fallback: false;
$rem-px-only: false;

@include test-module("@mixin rem") {

  @include test("basic") {

    @include assert() {
      @include output {
        @include rem(width, 16px);
      }
      @include expect {
        width: 1rem;
      }
    }

    @include assert() {
      @include output {
        @include rem(width, 1rem);
      }
      @include expect {
        width: 1rem;
      }
    }

    @include assert() {
      @include output {
        @include rem(width, 0);
      }
      @include expect {
        width: 0;
      }
    }

    @include assert() {
      @include output {
        @include rem(width, 1em);
      }
      @include expect {
        width: 1em;
      }
    }

    @include assert() {
      @include output {
        @include rem(padding, 1em 7% 16px 2rem);
      }
      @include expect {
        padding: 1em 7% 1rem 2rem;
      }
    }

    @include assert() {
      @include output {
        @include rem((top: 0, right: 16px, bottom: 2rem, left: 7%));
      }
      @include expect {
        top: 0;
        right: 1rem;
        bottom: 2rem;
        left: 7%;
      }
    }

    @include assert() {
      @include output {
        @include rem((width, height), 16px);
      }
      @include expect {
        width: 1rem;
        height: 1rem;
      }
    }

  }

}
